// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 30px;
  text-align: center;
  color: black;
}

body {
background-image: url(background.jpg);
background-size: cover;
}

#editdist {
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

#paddthis {
	text-align: left;
  	width: 180px;
	padding: 1px;
	border: 1px solid blue;
}

#auth  {
  font-size: 20px;
  text-align: center;
}

#text{
  font-size: 20px;
  text-align: center;
}

#link {
  font-size: 20px;
  text-align: center;
  color: blue;
}

a:link { 
  color: blue;
  font-size: 20px;
}
